/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url(/img/CoverLight.svg);
  background-size: cover;
  /* NOTE(gabro): this is to fix a 1px offset to the left that appears on iOS
   * The fix is loosely based on https: //stackoverflow.com/a/21456799/846273
   */
  background-attachment: local;
}

html[data-theme="dark"] .heroBanner {
  background-image: url(/img/CoverDark.svg);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
