.container {
  display: flex;
  flex-direction: column;
}

.editorContainer {
  overflow: auto;
}

.editor {
  min-height: 100%;
  font-size: var(--font-size-12) !important;
  font-family: var(--font-family-code) !important;
}

.noShrink {
  flex-shrink: false;
}
